body {
    margin: 0;
    background-color: #202030;
    min-width: 90vw;
    height: 100vh;
	overscroll-behavior: none;
}

.render-container {
    width: 100%;
    height: 100%;
    align-content: center;
}

.render-canvas {
    width: 100%;
    height: 100%;
}