@font-face {
    font-family: "SM64";
    src: url("./font/sm64-english-dialogue.ttf");
}

body {
    margin: 0;
    background-color: #202030;
    min-width: 90vw;
    height: 100vh;
	overscroll-behavior: none;
}

.hidden {
    display: none;
}  

.render-container {
    width: 100%;
    height: 100%;
    align-content: center;
}

.render-canvas {
    width: 100%;
    height: 100%;
}

.user-settings-menu {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 5%;
    width: auto;
    height: 90%;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
}

.user-settings-title {
    font-family: "SM64";
    font-size: 36px;
    color: white;
}

.user-settings-level {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 20px);
}

.user-settings-sublevel {
    margin-left: 20px;
    width: calc(100% - 20px);
}

.user-settings-text-lvl1 {
    font-family: "SM64";
    font-size: 28px;
    color: white;
}

.user-settings-text-lvl2 {
    font-family: "SM64";
    font-size: 20px;
    color: white;
}

.user-settings-text-lvl3 {
    font-family: "SM64";
    font-size: 16px;
    color: white;
}

.user-settings-text-slider-value {
    font-family: "SM64";
    font-size: 16px;
    text-align: center;
    color: white;
}

input[type="color"] {
    border: none;
    border-radius: 0px; 
    outline: none;
    padding: 0px; 
    margin: 0px;
    background-color: rgba(0,0,0,0.0);
}



.run-info-window {
    z-index: 10;
    position: absolute;
    right: 0%;
    top: 5%;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
}

.run-info-title {
    font-family: "SM64";
    font-size: 36px;
    color: white;
}
